<ActionBar>
    <Label text="Scenario"></Label>
</ActionBar>

<DockLayout stretchLastChild="false">

    <!-- <Button dock="bottom" text="bottom" style="background-color: #AA0078; margin: 5;"></Button> -->
    <Label class="text-display" dock="top" text="Character- {{character1.name}}" text-wrap="true"></Label>
    <Label class="text-display" dock="top" text="Character- {{character2.name}}" text-wrap="true"></Label>
    <Label class="text-display" dock="top" text="Setting- {{setting.name}}" text-wrap="true"></Label>
    <Label class="text-display" dock="top" text="Activity- {{activity.name}}" text-wrap="true"></Label>
    <Button (tap)="generateScenario()" dock="top" text="Generate" style="background-color: #B3B3D7; margin: 5;"></Button>

</DockLayout>
