<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout> -->

<GridLayout>
	<ScrollView>
		<StackLayout class="home-panel">
			<!--Add your page content here-->
			<Label textWrap="true" text="Welcome to the Improv Scene Generator" class="text-display"></Label>
			<Label textWrap="true" text="Check out the scenes tab to get unique scenes to act out"
			 class="text-display"></Label>
			<Label class="text-display" textWrap="true" text="Or go to the contribute tab to add to the growing list of characters, activities, and settings"></Label>
		</StackLayout>
	</ScrollView>
</GridLayout>
